{% extends "index.html" %}

{% block content %}
{% include "navigationbar.html" %}

<section class="section">
    <div class="container">
        <div class="row">
            {% include "categories.html" %}
            <div id="category_items" class="col-md-9">
                  <a href="{{url_for('addNewItem')}}" >
                    <button class="btn btn-danger navbar-btn navbar-right" id="btn_add_item">Add New Item</button>
                  </a>
                <h6 class="padding-bottom-26">Total items available: ({{count}})</h6>
                <div id="item_images" class="col-md-9">
                {% for i in items %}
                <div class="thumbnail text-center">
                    <div class="caption-full">
                        <img class="img-responsive img-center" src="{{ i.picture }}" alt="{{ i.name }}">
                    </div>
                    <a href = "{{url_for('showItem', category_name = i.category.name, item_name = i.name)}}">
                        <h4>{{ i.name }}</h4>
                    </a>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
